.content-images{
  position: relative;
  z-index: 99;
}
.show-img{
  position: relative;
  h2{
    font-size: 50px;
    position: absolute;
    left: 7%;
    top: 30%;
    font-weight: 300;
    color: map-get($color,blue-c);
    strong{
      color: map-get($color,white);
      font-size: 50px;
      font-weight: 600;
    }
    p{
      margin-top: -18px;
    }
  }
  .back-next{
    position: absolute;
    left: 7%;
    top: 63%;
    button{
      width: 53px;
      height: 53px;
      border: none;
      cursor: pointer;
    }
    .prev{
      background: url(../images/nav-slider.png) no-repeat;
      &:hover{
        background-position: 0 -54px;
      }
    }
    .next{
      margin-left: -2px;
      background: url(../images/nav-slider.png) no-repeat -53px 0;
      &:hover{
        background-position: -53px -54px;
      }
    }
  }
}
.feature-space{
  height: 70px;
  margin-top: 2px;
  background-color: map-get($color,button-white);
  .feature{
    font-weight: 300;
    padding: 19px 28px;
    font-size: 25px;
    color: map-get($color,color-feature);
  }
}
.image-show{
  position: relative;
  z-index: 99;
  background-color: map-get($color,secondary);
}
.image-slide{
  margin-left: 4.5%;
  list-style: none;
  display: flex;
  li{
    padding: 25px 7px 35px 0;
    img{
      width: 97%;
      height: 95%;
      border: 7px solid map-get($color,white);
      &:hover{
        border: 7px solid map-get($color,yellow-a);
      }
    }
  }
}
.next-img{
  position: relative;
  position: relative;
  z-index: 99;
  button{    
    width: 53px;
    height: 73px;
    position: absolute;
    right: -17px;
    top: -120px;
    border: none;
    cursor: pointer;
    background: url(../images/nav.png) no-repeat -50px 0;
    &:hover{
      background-position: -50px -73px;
    }
    i{
    }
  }
}
.some-news{
  display: flex;
  justify-content: center;
  margin-top: 29px;
}
.one-block-new{
}
[class*='blocks-']{
  min-height: 430px;
  margin: 0 11px;
  h5{
    color: map-get($color,white);
    text-align: left;
    padding: 22px 122px 20px 32px;
    font-size: 25px;
    line-height: 21px;
    font-weight: 300;
    span{
      font-weight: 600;
    }
  }
  img{
    width: 272px;
  }
  p{
    color: map-get($color,white);
    font-family: Arial;
    padding: 20px 20px 20px 33px;
    line-height: 23px;
    font-size: 14px;
  }
  a{
    position: relative;
    z-index: 99;
    padding: 9px 24px;
    margin-left: 33px;
    margin-top: 4px;
    background-color: map-get($color,white);
    span{
      line-height: 16px;
      font-size: 14px;
    }
    .color-one{
      color: map-get($color,more-a);
    }
    .color-two{
      color: map-get($color,more-b);
    }
    .color-three{
      color: map-get($color,more-c);
    }
    .color-four{
      color: map-get($color,more-d);
    }
  }
  a:hover{
    background-color: map-get($color,secondary);
    span{
      color: map-get($color,white);
    }
  }

}
.blocks-events{
  background-color: map-get($color,more-a);
  margin-left: 0;
  margin-right: 20px;
}
.blocks-dest{
  background-color: map-get($color,more-b);
}
.blocks-tours{
  background-color: map-get($color,more-c);
}
.blocks-booking{
  background-color: map-get($color,more-d);
  margin-left: 21px;
  margin-right: 0;
}
.content-container{
  position: relative;
  z-index: 99;
  display: block;
  margin-top: 60px;
  margin-bottom: 110px;
}
.content-left{
  display: inline-block;
  h2{
    color: #5ecdd4;
    font-size: 45px;
    line-height: 42px;
    margin: 2px 0px 2px 1px;
  }
  h3{
    font-weight: 300 !important;
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 35px;
    padding: 0px 5px 2px 8px;
    color: map-get($color,color-feature);
  }
  a{
    padding: 9px 24px;
    &:hover{
      background-color: map-get($color,button-blue);
    }
  }
}
.img-para{
  display: block;
  img{
    display: inline;
    width: 48%;
    margin-left: 3px;
  }
  .right-para{
    width: 46.5%;
    display: inline;
    float: right;
    h4{
      font-weight: 300 !important;
      font-size: 20px;
      color: map-get($color,color-feature);
      padding-left: 3px;
      line-height: 24px;
    }
    p{
      color: map-get($color,p);
      font-family: Arial;
      margin-top: 15px;
      margin-left: 3px;
      font-size: 14px;
      line-height: 23px;
    }
  }
}
.para-only{
  color: map-get($color,p);
  margin-top: 35px;
  line-height: 23px;
  margin-bottom: 57px;
  font-family: Arial;
  font-size: 14px;
  padding-left: 2px;
}
.content-right{
  display: inline-block;
  float: right;
  padding-left: 45px;
  .one-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
  }
}
.one-block-something{
  width: 48%;
  margin-right: 15px;
  h2{
    font-weight: 300 !important;
    color: map-get($color,color-feature);
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 21px;
    margin-top: 5px;
    span{
      font-weight: bold;
      font-size: 25px;
      line-height: 25px;
    }
    .first-color{
      color: map-get($color,blue-e);
    }
    .second-color{
      color: map-get($color,blue-f);
    }
    .three-color{
      color: map-get($color,yellow-b);
    }
    .four-color{
      color: map-get($color,pink-a);
    }
  }
  p{
    line-height: 23px;
    color: map-get($color,p);
    font-size: 14px;
    font-family: Arial;
    margin-bottom: 27px;
  }
  a{
    padding: 9px 24px;
    &:hover{
      background-color: map-get($color,button-blue);
    }
  }
}
/* For tablets: */
@media screen and (min-width: 600px) and (max-width: 767px){
  // [class*='blocks-']{
  //   width: 100%;
  // }
  .show-img{
    position: relative;
    h2{
      font-size: 30px;
      position: absolute;
      left: 25px;
      top: 50px;
      line-height: 46px;
      font-weight: 300;
      color: map-get($color,blue-c);
      strong{
        color: map-get($color,white);
        font-size: 30px;
        font-weight: 600;
      }
      p{
        margin-top: -18px;
      }
    }
  }
  .back-next{
    position: absolute;
    right: 23px;
    bottom: 23px;
  }
  .feature-space{
    margin-top: 32px;
  }
}
