.btn-cart {
  width: 50px;
  position: absolute;
  top: 0;
  right: 10px;
  height: 50px;
  border: none;
  background-color: white;
}
header span{
  content: "";
  position: absolute;
  top: 15px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  color: black;
}
.product {
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px #8888;
}
.product img {
  width: 100%;
}
.row{
  margin-top: 30px;
}
.cart {
  width: 100%;
  margin-top: 100px;
}
td {
  padding: 10px;
}
th {
  padding: 10px;
}
header img {
  width: 70px;
  position: absolute;
  top: 0;
  right: -4px;
}
#show-item{
  margin: 20px;
  width: 100%;
}
table{
  border: 2px solid #8888;
}
