$font-content :'Open Sans',Arial, sans-serif;
$color: (
  white: #ffffff,
  dark-white: #cbd2cb,
  black: #353535,
  color-feature: #181818,
  background-slide-img: #2d333a,
  d3: #d3d3d3,
  color-footer: #2d3239,
  black-a: #2e363e,
  button-more: #2a2e34,
  p: #787878,
  blue-a: #00c8d0,
  button-blue: #43bbbf,
  blue-b: #37bdc6,
  blue-c: #54bac1,
  blue-g: #54dcdf,
  blue-d: #91e5e9,
  blue-e: #5ecdd4,
  blue-f: #00dbb2,
  yellow-a: #d9bb4b,
  yellow-b: #dbbe39,
  color-nav: #38d3d8,
  button-white: #f6f6f6,
  more-a: #7ed7dd,
  more-b: #7eddc1,
  more-c: #e1c96f,
  more-d: #d685a2,
  pink-a: #ea8b9b
);
