.header {
  position: relative;
  z-index: 120;
  margin: 0 20px;
}
.top-head {
  display:block;
  padding-top: 72px;
  margin-bottom: 40px;
}
.top-left {
  display:inline-block;
  img {
    padding-top: 8px;
  }
  p {    
    font-weight: 300 !important;
    color: map-get($color,d3);
    padding-left: 73px;
    position: relative;
    top: -21px;
    font-size: 15px;
    line-height: 15px;
  }
}
.top-right {
  display:inline-block;
  float:right;
  padding-top: 20px;
}
.list-icon {
  list-style: none;
  li {
    display:inline-block;
    a {
      border-radius: 50%;
      color: white;
      background-color: map-get($color,black-a);
      border: none;
      cursor: pointer;
      box-shadow: 2px 2px 0 rgba(29,29,34,0.4);
      display: block;
      width: 36px;
      height: 35px;
      i {
        text-align: center;
        padding: 10px 10px;
      }
      .fa-facebook {
        padding: 10px 14px;
      }
      .fa-twitter {
        padding: 10px 12px;
      }
    }
    a:hover {
      background-color: map-get($color,primary);
    }
  }
}
.bottom-head {
  display: flex;
  flex-direction: row;
  background-color: map-get($color,primary);
  margin: 0 15px;
}
.menu-toggle {
  display: none;
}
.nav-ul {
  display: flex;
  list-style: none;
  border-right: 1px solid map-get($color,blue-b);
  li {
    cursor:pointer;
    width: 160px;
    border-left: 1px solid map-get($color,blue-d);
    border-right: 1px solid map-get($color,blue-b);
    text-align: center;
    a {
      font-size: 14px;
      font-weight: 600;
      padding: 23px 0 22px;
      letter-spacing: -0.5px;
      display: block;
      color: map-get($color,white);
    }
    &:hover {
      background-color: map-get($color,blue-a);
    }
    ul {
      display: none;
    }
  }
  .home {
    width:67px; 
    border-left: none;
    background-color: map-get($color,blue-a);
  }
  li:last-child {
    border-right: none;
  }
}
.sub-menu {
  position: relative;
  &:hover {
    .drop-down {
      display:block;
    }
  }
}
.submenu-home {
  display: none;
}
.sub-menu {
  position: relative;
  &:hover {
    .drop-down {
      display: block;
    }
  }
}
.galery3 {
  position: relative;
  &:hover {
    .drop-lv2 {
      display: block;
    }
  }
}
.drop-down {
  display: none;
  background-color: map-get($color,primary);
  position: absolute;
  top: 69px;
  z-index: 3;
  li {
    display: block;
    border-left: none;
    a {
      &:hover {
        color: map-get($color,black);
      }
    }
    &:hover {
      background-color: map-get($color,primary);
    }
  }
}
.drop-down {
  display: none;
  background-color: map-get($color,primary);
  position: absolute;
  top: 69px;
  z-index: 3;
  li {
    display: block;
    border-left: none;
    a {
      &:hover {
        color: map-get($color,black);
      }
    }
    &:hover {
      background-color: map-get($color,primary);
    }
  }
}
.drop-lv2 {
  display: none;
  border-right: none;
  position: absolute;
  z-index: 99;
  top: -35px;
  left: 169px;
  li {
    display: block;
    background-color: map-get($color,black);
    border-right: none;
    a {
      &:hover {
        color: map-get($color,yellow-a);
      }
    }
    &:hover {
      background-color: map-get($color,black);
    }
  }
}
.search-form {
  width: 303px;
  border-left: 1px solid map-get($color,blue-d);
  display: flex;
  position: relative;
  input {
    width: 242px;
    margin: 16px 20px 0px 29px;
    border: none;
    height: 39px;
    box-shadow: inset 1px 1px 0 map-get($color,button-blue);
    border-radius: 10px;
    color: map-get($color,white);
    background-color: map-get($color,blue-c);
    box-shadow: inset 1px 1px 0 map-get($color,blue-c);
    outline: none;
    &:focus {
      border-bottom: 1px solid map-get($color,white);
      border-right: 1px solid map-get($color,white);
    }
  }
  input[type="submit"] {
    position: absolute;
    right: 26px;
    top: 26px;
    margin: 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 22px;
    height: 23px;
    background: url(../images/search.png) no-repeat;
    box-shadow: none;
    transition: none;
    &:hover {
      background-position: 0 -43px;
    }
  }
}
@media screen and (max-width: 850px) and (min-width: 768px) {
.search-form {
  input {
    margin: auto;
    width: 150px;
  }
}
}
/* For tablets: */
@media screen and (max-width: 767px) {
a {
  color: map-get($color, white);
}
.list-icon {
  display: none;
}
//nav hamberger
.menu-toggle {
  display: inline;
  position: relative;
  //margin:0 0 0 60px;
  font-size: 40px;
  &:active {
    .nav-ul {
      display: block;
    }
  }
}
.bottom-head {
  display: block;
  list-style: none;
  text-align: center;
  width: 100%;
  margin: 0;
}
.nav-ul {
  display: none;
  width: 100%;
  li {
    display: block;
    cursor:pointer;
    border-left: none;
    border-right: none;
    text-align: center;
    ul {
      display: none;
    }
  }
  .home {
    display: none;
  }
  li:last-child {
    border-right: none;
  }
}
.drop-down {
  display: none;
  background-color: map-get($color,primary);
  position: absolute;
  top: 0px;
  right: 100px;
  z-index: 100;
  li {
    display: block;
    border-left: none;
    a {
      &:hover {
        color: map-get($color,black);
      }
    }
    &:hover {
      background-color: map-get($color,primary);
    }
  }
}
.drop-lv2 {
  display: none;
  border-right: none;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 85px;
  li {
    display: block;
    background-color: map-get($color,primary);
    border-right: none;
    a {
      &:hover {
        color: map-get($color,yellow-a);
      }
    }
    &:hover {
      background-color: map-get($color,primary);
    }
  }
}
.search-form {
  display: inline;
  border-left: none;
  input{
    margin: 16px 20px 19px 29px;
  }
  input[type="submit"]{
    position: absolute;
    right: 26px;
    top: 0px;
  }
}
// end hamberger
.top-left {
  display:inline-block;
  margin-top: -41px;
  img{
    padding-top: 8px;
  }
  p{    
    font-weight: 300 !important;
    color: map-get($color,d3);
    padding-left: 73px;
    position: relative;
    top: -21px;
    font-size: 15px;
    line-height: 15px;
  }
}
.top-right {
  position: absolute;
  display: inline-block;
  top: 102px;
  left: 30px;
}
}
// For mobile
@media screen and (max-width: 599px) {
.bottom-head {
  text-align: left;
  padding: 0 30px;
  ul {
    a {
      font-size: 13px;
   }
  }
}
.drop-down {
  right: 80px;
}
.drop-lv2 {
  right: 95px;
  width: max-content;
}
}
