<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="name" content="width=device-width, initial-scale=1">
  <title>Professional Ready Made Website Templates &amp; Designs</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
</head>
<body>
  <header>
    <section class="top-head">
      <div class="col-lg-2 col-md-2 logo-head">
        <a><img src="../images/envato-market-logo-light.svg" alt="logo-envano"></a>
      </div>
      <div class="col-lg-7 col-md-7 devices-head">
        <a><img src="../images/desktop.svg" alt="desktop" class="desktop"></a>
        <a><img src="../images/tablet.svg" alt="tablet" class="tablet"></a>
        <a><img src="../images/mobile.svg" alt="mobile" class="mobile"></a>
      </div>
      <div class="col-lg-3 col-md-3 right-head">
        <div class="price">
          <span><sup class="sup-money">$</sup>16<sup class="sup-month">/month</sup><sub>Paid Annually</sub></span>
        </div>
        <a class="btn btn-button">Get Started</a>
      </div>
    </section>
    <div class="center-head">
      <img src="../images/logo-summer-day.png" alt="summer surf scate">
    </div>
    <nav>
      <ul class="nav-menu">
        <li class="menu-item">
          <a href="#" title="home">HOME</a>
          <ul class="sub-menu">
            <li><a href="#" title="home-boxed">HOME BOXED</a></li>
            <li><a href="#" title="home-with-shop">HOME WITH SHOP</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#" title="examples">EXAMPLES</a>
          <ul class="sub-menu">
            <li><a href="#" title="left sidebar">LEFT SIDEBAR</a></li>
            <li><a href="#" title="normal title">NORMAL TITLE</a></li>
            <li><a href="#" title="top border">TOP BORDER</a></li>
            <li><a href="#" title="blank page">BLANK PAGE</a></li>
            <li><a href="#" title="typography">TYPOGRAPHY</a></li>
            <li><a href="#" title="media examples">MEDIA EXAMPLES</a></li>
            <li><a href="#" title="live backend demo">LIVE BACKEND DEMO</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#" title="about">ABOUT</a>
          <ul class="sub-menu">
            <li><a href="#" title="documentation">DOCUMENTATION</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#" title="shop">SHOP</a>
          <ul class="sub-menu">
            <li><a href="#" title="cart">CART</a></li>
            <li><a href="#" title="checkout">CHECKOUT</a></li>
            <li><a href="#" title="my account">MY ACCOUNT</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="#" title="blog">BLOG</a></li>
        <li class="menu-item"><a href="#" title="gallery">GALLERY</a></li>
        <li class="menu-item">
          <a href="#" title="contact">CONTACT</a>
          <ul class="sub-menu">
            <li><a href="#" title="contact2">CONTACT 2</a></li>
            <li><a href="#" title="contact3">CONTACT 3</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="slide-images">
      <img src="../images/banner3.jpg" alt="baner-img">
    </section>
    <div class="container">
      <section class="para-content">
        <p>For over 7 years we have been creating unique website templates for thousands of people.<br>We love what we do and hope all our clients enjoy making our websites their own. We specialise in WordPress templates that are easily customized and are ready to have a variety of plugins installed to suit any business.</p>
      </section>
      <section class="content">
        <div class="left-content">
          <div class="one-block">
            <div class="notice">
              <div id="comment">
                <a href="#" class="fa fa-comment" aria-hidden="true"></a><span>0</span>
              </div>
              <div id="share">
                <a href="#" class="fa fa-share-alt" aria-hidden="true"></a><span>Share</span>
              </div>
            </div>
            <img src="../images/photo-1.jpg" alt="beach">
            <h2 class="title">
              <a href="#">Surfs Up – Best locations</a>
            </h2>
            <p class="date">September 16, 2016</p>
            <p class="info">Type your custom Excerpt here. This will display on the blog summary pages.</p>
            <div class="btn-button more-info"><a href="#">More</a></div>
          </div>
          <div class="one-block">
            <div class="notice">
              <div id="comment">
                <a href="#" class="fa fa-comment" aria-hidden="true"></a><span>0</span>
              </div>
              <div id="share">
                <a href="#" class="fa fa-share-alt" aria-hidden="true"></a><span>Share</span>
              </div>
            </div>
            <img src="../images/photo-2.jpg" alt="summer-sunny">
            <h2 class="title">
              <a href="#">Time for a holiday</a>
            </h2>
            <p class="date">September 16, 2016</p>
            <p class="info">A vacation or holiday is a leave of absence from a regular occupation, or a specific trip or journey, usually for the purpose of recreation or tourism. People often take a vacation during specific holiday observances, or for specific festivals or celebrations. Vacations are often spent with friends or family. A person may take a longer break from work, such as a sabbatical, gap year, or career break. The concept[…]</p>
            <div class="btn-button more-info"><a href="#">More</a></div>
          </div>
        </div>
        <aside class="right-bar">
          <div class="block-right">
            <div class="tag hash-tag hash-about"><a href="#">About</a></div>
            <p>dtbaker is a website designer with a professional career spanning over 15 years.</p>
            <img src="../images/profile-1.jpg" alt="avatar">
          </div>
          <div class="block-right">
            <div class="tag hash-tag hash-cate"><a href="#">Categories</a></div>
            <ul class="cate">
              <li><a href="#">Design</a></li>
              <li><a href="#">Life</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">WordPress</a></li>
            </ul>
          </div>
          <div class="block-right">
            <div class="tag hash-tag hash-tags"><a href="#">Tags</a></div>
            <div class="some-tag">
              <a class="diff-tag-a" href="#">BEACH</a>
              <a class="diff-tag-a" href="#">CREATIVE</a>
              <a class="diff-tag-a" href="#">FUN</a>
              <a class="diff-tag-a" href="#">SUMMER</a>
              <a class="diff-tag-a" href="#">THEME</a>
              <a class="diff-tag-a" href="#">WORDPRESS</a>  
            </div>
          </div>
          <div class="block-right bl-img">
            <div class="tag hash-tag hash-insta"><a href="#">Instagram</a></div>
            <div class="one-row row1">
              <img src="../images/cat.jpg" alt="cat">
              <img src="../images/power2.jpg" alt="words have power">
              <img src="../images/flash3.jpg" alt="flash fx">
            </div>
            <div class="one-row row2">
              <img src="../images/super4.jpg" alt="supper good">
              <img src="../images/cyber5.jpg" alt="cyber-5">
              <img src="../images/cyber6-monday.jpg" alt="cyber-6-monday">
            </div>
            <div class="one-row row3">
              <img src="../images/cyber7.jpg" alt="cyber7">
              <img src="../images/cyber8.jpg" alt="cyber8">
              <img src="../images/cyber9.jpg" alt="cyber9-sale">
            </div>
          </div>
        </aside>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="col-lg-3 col-md-3 contact about">
        <h3 class="title-foot">About</h3>
        <p>Baker Web Development is the combined efforts of two freelance web developers Hayley (design) & Dave (code). We have been working together since 2005.</p>
        <p>This theme is available for purchase on <a href="#">ThemeForest.net</a>.</p>
      </div>
      <div class="col-lg-3 col-md-3 contact links">
        <h3 class="title-foot">Links</h3>
        <ul>
          <li><a href="#">ThemeForest</a></li>
          <li><a href="#">CodeCanyon</a></li>
          <li><a href="#">dtbaker.net</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 contact newsletter">
        <h3 class="title-foot">Newsletter</h3>
        <form action="index_submit" method="get" accept-charset="utf-8">
          <input type="text" name="name" placeholder="Your Name">
          <span class="alert-1"></span>
          <input type="text" name="email" placeholder="Your Email">
          <span class="alert-2"></span>
          <div class="btn-button btn-submit">
            <a href="#">Submit</a>
          </div>
        </form>
        <div class="not-robot">
          <div class="protected">
            <p>protected by <strong>reCAPTCHA</strong></p>
            <p><a href="#">Privacy - </a><a href="#">Terms</a></p>
          </div>
          <img src="../images/no-robot.jpg">
        </div>
      </div>
      <div class="col-lg-3 col-md-3 contact list-icon">
        <h3 class="title-foot">Contact</h3>
        <ul>
          <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="#" class="fa fa-instagram" aria-hidden="true"></a></li>
          <li><a href="#" class="fa fa-pinterest" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
