$color : (
  primary: #39b54a,
  secondary: #0b9444,
  black: #282828,
  white: #ffffff,
  gray: #d7d7d7,
  gray-a: #f7f7f7,
  gray-b: #c6c6c6,
  gray-c: #282828,
  blue-a: #3a5ba2,
  blue-b: #3e9dd7,
  blue-c: #1ebef0,
  red: #e1584b,
);
$font: 'utm-avo', sans-serif;
