<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detail Product Cart</title>
  <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <header>
    <nav class="navigation">
      <ul class="main-menu">
        <li class="menu-item"><a href="#">Home</a></li>
        <li class="menu-item"><a href="#">Shop</a></li>
        <li class="menu-item"><a href="#">Product</a></li>
        <li class="menu-item"><a href="#">About us</a></li>
        <li class="menu-item"><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="row" id="show-item">
    </div>
  </main>
  <footer>
    <ul>
      <li><a href="#" class="fa fa-facebook-square" aria-hidden="true"></a></li>
      <li><a href="#" class="fa fa-twitter-square" aria-hidden="true"></a></li>
      <li><a href="#" class="fa fa-google-plus-square" aria-hidden="true"></a></li>
    </ul>
    <div class="about-us">
      <h3>About us</h3>
      <p>Shoe shop at Da Nang</p>
      <p>Mobile: 0236-123-454545</p>
    </div>
  </footer>
  <script src="../js/detail.js"></script>
</body>
</html>
