@font-face {
  font-family: 'utm-avo';
  src: url('../../../font/utm-avo.eot');
  src: local('☺'), url('../../../font/utm-avo.woff') format('woff'), url('../../../font/utm-avo.ttf') format('truetype'), url('../../../font/utm-avo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
