* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%; }

a {
  text-decoration: none; }

body {
  color: black;
  background-image: url("../images/bg-top.jpg");
  background-repeat: no-repeat;
  position: relative; }
  body .wrapper {
    width: 95%;
    padding-left: 4%; }
    body .wrapper .header .header-wrap .top-head {
      display: block;
      padding-top: 6.25%;
      margin-bottom: 50px; }
      body .wrapper .header .header-wrap .top-head .top-left {
        display: inline-block; }
        body .wrapper .header .header-wrap .top-head .top-left img {
          width: 60px;
          height: 60px;
          border-radius: 50%; }
        body .wrapper .header .header-wrap .top-head .top-left .descript-logo {
          display: inline-block; }
          body .wrapper .header .header-wrap .top-head .top-left .descript-logo h1 {
            color: white;
            font-size: 42px; }
          body .wrapper .header .header-wrap .top-head .top-left .descript-logo p {
            font-weight: 300 !important;
            color: #cbd2cb;
            padding-left: 5px; }
      body .wrapper .header .header-wrap .top-head .top-right {
        display: inline-block;
        float: right; }
        body .wrapper .header .header-wrap .top-head .top-right ul {
          list-style: none; }
          body .wrapper .header .header-wrap .top-head .top-right ul li {
            display: inline-block; }
            body .wrapper .header .header-wrap .top-head .top-right ul li button {
              border-radius: 50%;
              color: white;
              background-color: #2a2e34;
              border: none;
              width: 35px;
              height: 35px;
              box-shadow: 2px 2px 0 rgba(29, 29, 34, 0.4); }
              body .wrapper .header .header-wrap .top-head .top-right ul li button .fa-facebook {
                content: "\f09a";
                text-align: center;
                padding: 2.5px; }
            body .wrapper .header .header-wrap .top-head .top-right ul li button:hover {
              background-color: deepskyblue; }
    body .wrapper .header .header-wrap .bottom-head {
      display: flex;
      flex-direction: row;
      font-size: 18px;
      background-color: #38d3d8; }
      body .wrapper .header .header-wrap .bottom-head .home {
        width: 6%;
        font-size: 27px;
        background-color: #00c8d0;
        padding: 20px;
        border-right: 1px solid #d0e7b1; }
        body .wrapper .header .header-wrap .bottom-head .home a {
          color: white; }
          body .wrapper .header .header-wrap .bottom-head .home a .fa-home {
            color: white; }
      body .wrapper .header .header-wrap .bottom-head nav {
        width: 67%; }
        body .wrapper .header .header-wrap .bottom-head nav ul {
          display: flex;
          flex-direction: row;
          list-style: none; }
          body .wrapper .header .header-wrap .bottom-head nav ul li {
            border-right: 1px solid #d0e7b1;
            width: 100%;
            height: 100%;
            padding: 25px;
            text-align: center; }
            body .wrapper .header .header-wrap .bottom-head nav ul li a {
              color: white; }
            body .wrapper .header .header-wrap .bottom-head nav ul li ul {
              display: flex;
              flex-direction: column; }
              body .wrapper .header .header-wrap .bottom-head nav ul li ul li {
                display: none; }
    body .wrapper .header .header-wrap .search {
      position: relative;
      padding-top: 20px; }
      body .wrapper .header .header-wrap .search input[type="submit"] {
        position: absolute;
        top: 22px;
        right: 1px;
        height: 35px;
        width: 59px;
        border: none;
        background-color: #2cbdc2; }
      body .wrapper .header .header-wrap .search input {
        height: 39px;
        border: none;
        width: 250px;
        border-radius: 10px;
        background-color: #2cbdc2;
        margin-left: 42px; }
      body .wrapper .header .header-wrap .search .fa-search {
        position: absolute;
        top: 24px;
        right: 12px;
        font-size: 25px;
        color: white; }
    body .wrapper .content .slide-show .show-img {
      position: relative; }
      body .wrapper .content .slide-show .show-img h2 {
        font-size: 40px;
        position: absolute;
        left: 70px;
        top: 170px;
        font-weight: 400 !important;
        color: #36c8c6; }
        body .wrapper .content .slide-show .show-img h2 strong {
          color: white; }
      body .wrapper .content .slide-show .show-img .back-next {
        position: absolute;
        left: 70px;
        top: 290px; }
        body .wrapper .content .slide-show .show-img .back-next button {
          width: 53px;
          height: 53px;
          border: none;
          font-size: 30px;
          background-color: #e5e5e5;
          color: black; }
          body .wrapper .content .slide-show .show-img .back-next button .fa-angle-left {
            position: absolute;
            top: 10px;
            left: 19px; }
          body .wrapper .content .slide-show .show-img .back-next button .fa-angle-right {
            position: absolute;
            top: 10px;
            left: 80px; }
          body .wrapper .content .slide-show .show-img .back-next button:hover {
            background-color: #d9bb4b; }
            body .wrapper .content .slide-show .show-img .back-next button:hover i {
              color: white; }
    body .wrapper .feature-space {
      height: 70px;
      margin-top: 10px;
      background-color: #ececec; }
      body .wrapper .feature-space h2 {
        font-weight: 300 !important;
        padding: 22px; }
    body .wrapper .image-show {
      display: block;
      height: 180px;
      background-color: #2d333a;
      text-align: center; }
      body .wrapper .image-show .one-img {
        padding: 25px 15px;
        display: inline-block; }
        body .wrapper .image-show .one-img img {
          width: 187px;
          height: 120px;
          border: 7px solid white; }
          body .wrapper .image-show .one-img img:hover {
            border: 7px solid #d9bb4b; }
    body .wrapper .next-img {
      position: relative; }
      body .wrapper .next-img button {
        width: 53px;
        height: 53px;
        border: none;
        background-color: #e5e5e5;
        position: absolute;
        right: -26px;
        top: -109px; }
        body .wrapper .next-img button:hover {
          background-color: #d9bb4b; }
          body .wrapper .next-img button:hover i {
            color: white; }
        body .wrapper .next-img button i {
          font-size: 40px;
          color: black;
          font-weight: 200 !important; }
    body .wrapper .some-news {
      display: block;
      margin-top: 35px;
      text-align-last: justify; }
      body .wrapper .some-news .one-block-new {
        display: inline-block;
        width: 270px;
        height: 430px; }
        body .wrapper .some-news .one-block-new h5 {
          color: white;
          text-align: left;
          padding: 20px 0px 15px 30px;
          font-weight: 300 !important;
          font-size: 22px; }
        body .wrapper .some-news .one-block-new p {
          color: white;
          padding: 30px;
          line-height: 20px; }
        body .wrapper .some-news .one-block-new button {
          width: 89px;
          height: 38px;
          margin-left: 30px;
          border: none;
          background-color: white;
          font-weight: bold; }
          body .wrapper .some-news .one-block-new button span {
            margin-left: 20px; }
          body .wrapper .some-news .one-block-new button .color-one {
            color: #53cace; }
          body .wrapper .some-news .one-block-new button .color-two {
            color: #37ab8e; }
          body .wrapper .some-news .one-block-new button .color-three {
            color: #c3b155; }
          body .wrapper .some-news .one-block-new button .color-four {
            color: #c65b84; }
          body .wrapper .some-news .one-block-new button:hover {
            background-color: #2a2e34; }
            body .wrapper .some-news .one-block-new button:hover span {
              color: white; }
      body .wrapper .some-news .one-block-new:first-child {
        background-color: #53cace; }
      body .wrapper .some-news .one-block-new:nth-child(2) {
        background-color: #37ab8e; }
      body .wrapper .some-news .one-block-new:nth-child(3) {
        background-color: #c3b155; }
      body .wrapper .some-news .one-block-new:nth-child(4) {
        background-color: #c65b84; }
    body .wrapper .div-content {
      display: block;
      margin-top: 60px;
      margin-bottom: 20px; }
      body .wrapper .div-content .content-left {
        width: 48%;
        display: inline-block; }
        body .wrapper .div-content .content-left h2 {
          color: #11d2d8;
          font-size: 45px; }
        body .wrapper .div-content .content-left h3 {
          font-weight: 300 !important;
          font-size: 25px;
          line-height: 28px;
          margin-bottom: 35px; }
        body .wrapper .div-content .content-left .img-para {
          display: block; }
          body .wrapper .div-content .content-left .img-para img {
            display: inline;
            width: 46%; }
          body .wrapper .div-content .content-left .img-para .right-para {
            width: 49%;
            display: inline;
            float: right; }
            body .wrapper .div-content .content-left .img-para .right-para h4 {
              font-weight: 300 !important;
              font-size: 20px;
              color: #181818;
              line-height: 26px; }
            body .wrapper .div-content .content-left .img-para .right-para p {
              color: #787878;
              margin-top: 10px;
              line-height: 22px; }
        body .wrapper .div-content .content-left .para-only {
          color: #787878;
          margin-top: 45px;
          line-height: 23px;
          margin-bottom: 20px; }
        body .wrapper .div-content .content-left button {
          width: 89px;
          height: 38px;
          color: white;
          border: none;
          background-color: #2a2e34;
          margin: 25px 0px 50px 0px;
          font-weight: bold; }
          body .wrapper .div-content .content-left button:hover {
            background-color: #43bbbf; }
      body .wrapper .div-content .content-right {
        width: 52%;
        display: inline-block;
        float: right;
        padding-left: 45px; }
        body .wrapper .div-content .content-right .one-row {
          display: flex;
          flex-direction: row; }
          body .wrapper .div-content .content-right .one-row .one-block-something {
            width: 48%;
            margin-right: 15px; }
            body .wrapper .div-content .content-right .one-row .one-block-something h2 {
              font-weight: 300 !important;
              color: black;
              margin-bottom: 22px; }
              body .wrapper .div-content .content-right .one-row .one-block-something h2 span {
                font-weight: bold; }
              body .wrapper .div-content .content-right .one-row .one-block-something h2 .first-color {
                color: #02d1d7; }
              body .wrapper .div-content .content-right .one-row .one-block-something h2 .second-color {
                color: #00dbb2; }
              body .wrapper .div-content .content-right .one-row .one-block-something h2 .three-color {
                color: #dbbe39; }
              body .wrapper .div-content .content-right .one-row .one-block-something h2 .four-color {
                color: #ea8b9b; }
            body .wrapper .div-content .content-right .one-row .one-block-something p {
              line-height: 23px;
              color: #787878; }
            body .wrapper .div-content .content-right .one-row .one-block-something button {
              width: 89px;
              height: 38px;
              color: white;
              border: none;
              background-color: #2a2e34;
              margin: 23px 0px 70px 0px;
              font-weight: bold; }
              body .wrapper .div-content .content-right .one-row .one-block-something button:hover {
                background-color: #43bbbf; }
  body .footer {
    background-color: #2d3239; }
    body .footer .footer-wraper {
      display: block;
      width: 100%;
      padding-left: 11%;
      padding-top: 7%;
      padding-bottom: 4.25%;
      color: white;
      position: relative; }
      body .footer .footer-wraper .logo-footer {
        width: 45%;
        display: inline-block; }
        body .footer .footer-wraper .logo-footer a {
          display: flex;
          flex-direction: row; }
          body .footer .footer-wraper .logo-footer a img {
            width: 37px;
            height: 37px;
            border-radius: 50%;
            position: absolute;
            left: 66px;
            top: 100px; }
          body .footer .footer-wraper .logo-footer a .padding-right {
            position: absolute;
            top: 92px;
            left: 109px; }
            body .footer .footer-wraper .logo-footer a .padding-right p {
              font-size: 10px; }
          body .footer .footer-wraper .logo-footer a .copy-righ {
            position: absolute;
            top: 109px;
            font-size: 15px;
            left: 309px;
            color: #d9bb4b; }
            body .footer .footer-wraper .logo-footer a .copy-righ span:hover {
              color: #2d90a3; }
      body .footer .footer-wraper .about-us {
        display: inline-block;
        width: 170px;
        height: 210px;
        margin-right: 2.25%; }
        body .footer .footer-wraper .about-us h2 {
          font-weight: 300 !important; }
        body .footer .footer-wraper .about-us ul {
          list-style: none;
          padding-top: 20px; }
          body .footer .footer-wraper .about-us ul li i {
            margin-right: 8px;
            width: 15px;
            text-align: center;
            height: 15px;
            padding-bottom: 4px;
            background: #717171; }
          body .footer .footer-wraper .about-us ul li a {
            color: #787878;
            line-height: 34px; }
          body .footer .footer-wraper .about-us ul li a:hover {
            color: #d9bb4b; }
      body .footer .footer-wraper .our-offers {
        display: inline-block;
        width: 170px;
        height: 210px;
        margin-right: 2.25%; }
        body .footer .footer-wraper .our-offers h2 {
          font-weight: 300 !important; }
        body .footer .footer-wraper .our-offers ul {
          padding-top: 20px;
          list-style: none; }
          body .footer .footer-wraper .our-offers ul li i {
            margin-right: 8px;
            width: 15px;
            text-align: center;
            height: 15px;
            padding-bottom: 4px;
            background: #717171; }
          body .footer .footer-wraper .our-offers ul li a {
            color: #787878;
            line-height: 34px; }
          body .footer .footer-wraper .our-offers ul li a:hover {
            color: #d9bb4b; }
      body .footer .footer-wraper .categories {
        display: inline-block;
        width: 170px;
        height: 210px;
        margin-right: 2.25%; }
        body .footer .footer-wraper .categories h2 {
          font-weight: 300 !important; }
        body .footer .footer-wraper .categories ul {
          padding-top: 20px;
          list-style: none; }
          body .footer .footer-wraper .categories ul li i {
            margin-right: 8px;
            width: 15px;
            text-align: center;
            height: 15px;
            padding-bottom: 4px;
            background: #717171; }
          body .footer .footer-wraper .categories ul li a {
            color: #787878;
            line-height: 34px; }
          body .footer .footer-wraper .categories ul li a:hover {
            color: #d9bb4b; }
  body .back-top {
    display: block; }
    body .back-top a button {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50px;
      height: 50px;
      border: none;
      background-color: #5ecdd4; }
      body .back-top a button:hover {
        background-color: #363636;
        cursor: pointer;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out; }
      body .back-top a button i {
        color: white;
        font-size: 40px; }
