$color: (
  primary: #79c3d7,
  nav: #1faeca,
  secondary: #202020,
  white: #ffffff,
  white-a: #dddddd,
  white-b: #959595,
  white-c: #f0f0f0,
  green: #6ca12b,
  nav-li: #333333,
  a: #666666,
  b: #4a90e2,
);
$font-content: sans-serif;
